<!--//banner -->
	<div class="w3ls-banner">
    <div class="heading">
      <h1>Appoint My Doctor</h1>
    </div>
      <div class="container_1">
        <div class="heading">
          <h2>Please Enter Patients Details</h2>
          <p>Fill the form below and submit your query we will contact you as soon as possible.</p>
        </div>
        <div class="agile-form">
          <form #f="ngForm"  (ngSubmit)="f.form.valid && appointmentsave()"  novalidate>
            <ul class="field-list">
              <li>
                <label class="form-label"> 
                  Full Name 
                  <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="text" name="patientname" #patientname="ngModel" [(ngModel)]="appointment.patient_Name" pattern="[a-zA-z]+" placeholder="Enter Patients Name" maxlength="15" autocomplete="off" required >
                  <span class="error-in" *ngIf="f.submitted && !patientname.valid ">Please Enter Name </span>
                </div>
              </li>
              <li>
                <label class="form-label">
                   Gender
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <select class="form-dropdown" name="gender" [(ngModel)]="appointment.gender" #gender="ngModel"  required>
                    <option *ngFor="let c of gen" [(ngValue)]="c.id">{{c.name}}</option>
                  </select>
                  <span class="error-in" *ngIf="f.submitted && !gender.valid ">Please Select Gender </span>
                </div>
              </li>
              <li> 
                <label class="form-label">
                   Age
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="int" name="age" #age="ngModel" pattern="[0-9]{02}" [(ngModel)]="appointment.age" placeholder="Age in Years" maxlength="2" autocomplete="off" required >
                  <span class="error-in" *ngIf="f.submitted && !age.valid ">Please Enter Proper Age (Only digits) </span>
                </div>
                </li>
              
              <li> 
                <label class="form-label">
                   Address
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input add">
                  <span class="form-sub-label">
                    <input type="text" name="street_address" [(ngModel)]="appointment.street_address" placeholder=" " maxlength="50" autocomplete="off" required>
                    <label class="form-sub-label1"> Street Address </label>
                  </span>
                  <span class="form-sub-label">
                    <input type="text" name="street_address2" [(ngModel)]="appointment.street_address2" placeholder=" " maxlength="50" autocomplete="off" required>
                    <label class="form-sub-label1"> Street Line 2 </label>
                  </span>
                  <span class="form-sub-label">
                    <input type="text" name="city" [(ngModel)]="appointment.city" placeholder=" " maxlength="20" autocomplete="off" required>
                    <label class="form-sub-label1"> City </label>
                  </span>
                  <span class="form-sub-label">
                    <input type="text" name="state" [(ngModel)]="appointment.state" placeholder=" " maxlength="20" autocomplete="off" required>
                    <label class="form-sub-label1"> State / Province </label>
                  </span>
                  <span class="form-sub-label">
                    <input type="text" name="zipcode" #zipcode="ngModel" pattern="[0-9]{06}" [(ngModel)]="appointment.zipcode" placeholder=" " maxlength="6" autocomplete="off" required>
                    <label class="form-sub-label1"> Postal / Zip Code </label>
                    <div class="error-in" *ngIf="f.submitted && !zipcode.valid ">Please Enter Proper Zipcode (Only 6 digits) </div>
                  </span>
                  
                  <span class="form-sub-label">
                    <input type="text" name="country" [(ngModel)]="appointment.country" placeholder=" " maxlength="20" autocomplete="off" required>
                    <label class="form-sub-label1"> Country </label>
                  </span>
                </div>
              </li>
              <li> 
                <label class="form-label">
                   E-Mail Address
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,3})" [(ngModel)]="appointment.email" placeholder="myname@example.com" maxlength="100" autocomplete="off" required>
                  <span class="error-in" *ngIf="f.submitted && !email.valid ">Please Enter Proper Email ID.</span>
                </div>
              </li>
              <li> 
                <label class="form-label1">
                  Mention the details of previous consultings with us.
                </label>
                <div class="form-input2">
                  <textarea rows="5" cols="20" name="textarea"  [(ngModel)]="appointment.textarea" maxlength="200" autocomplete="off" required></textarea>
                
                </div>
              </li>
              <li>
                <label class="form-label">
                   Choose a relevant Speciality
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <select class="form-dropdown" name="speciality1" #speciality1="ngModel" [(ngModel)]="appointment.speciality"  required>
                    <option *ngFor="let c of speciality" [(ngValue)]="c.id">{{c.name}}</option>
                  </select>
                  <div *ngIf="f.submitted">
                      <span class="error-in" *ngIf="f.submitted && !speciality1.valid ">Please Select Speciality </span>
                  </div>
                </div>
              </li>
          </ul>
            <input type="submit" value="Book Appointment">
          </form>	
        </div>
      </div>
  </div>