<div class="container">
  <div class="w3-flex">

  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid1">
      <img src="assets/images/a4.jpg" /><br>
    <h4 class="agileinfo-head">How to <br>Deal With<br> Anxiety? </h4>
    <p>Living with anxiety on a daily basis can be really stressful. And while you are dealing with anxiety, it is very <a href="assets/Docs/Article4.pdf">Read More...</a></p>
   </div>

  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
    <img src="assets/images/a5.jpg" />
    <h4 class="agileinfo-head">How Seasonal Allergies Can Affect Your Oral Health</h4>
    <p>When allergy season is in full swing, your dental health may not be on the top of your mind. But a case of hay  <a href="assets/Docs/Article5.pdf">Read More...</a></p>
    </div>
    
  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
      <img src="assets/images/a6.jpg" />
    <h4 class="agileinfo-head">9 Tips for Rehabilitation After A Knee Surgery    </h4>
    <p>Rehabilitation following arthroscopic meniscectomy can be divided into four phases: protection,  <a href="assets/Docs/Article6.pdf">Read More...</a></p>
    </div>
    
    

  </div>    <br><br>
  <div class="w3-flex">
  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
    <img src="assets/images/a7.jpg" />
  <h4 class="agileinfo-head">9 Reasons That Prove Curd Is Great for Your Health!</h4>
  <p>Curd/Yogurt/Dahi, is a popular food item all over the country. In the north, people eat it with flattened rice or  <a href="assets/Docs/Article7.pdf">Read More...</a></p>
  </div>

  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
    <img src="assets/images/a8.jpg" />
  <h4 class="agileinfo-head">Mind-Body, Body-Mind!</h4>
  <p>Our brain is made up of chemicals called neurotransmitters that are responsible for our emotional <a href="assets/Docs/Article8.pdf">Read More...</a></p>
  </div>

  <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
    <img src="assets/images/a9.jpg" />
  <h4 class="agileinfo-head">Don’t Let Your Child’s Smartness Depend on Artificial Intelligence</h4>
  <p>If you (or anybody for that matter) ask your child ‘Why is the sky blue?’ and your smart kid quickly picks up <a href="assets/Docs/Article9.pdf">Read More...</a></p>
  </div>

  </div><br><br>

<div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
  <img src="assets/images/a10.jpg" />
<h4 class="agileinfo-head">Read This if <br>You Struggle <br>With Acne</h4>
<p>Whether or not you have acne, it's important to wash your face twice or thrice daily to remove dead skin, toxins <a href="assets/Docs/Article10.pdf">Read More...</a></p>
</div>

<div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
  <img src="assets/images/a11.jpg" />
<h4 class="agileinfo-head">Embrace Your <br>Own Pace!</h4>
<p>Everybody these days is set out to do something with their lives. Whether its personal or professional <a href="assets/Docs/Article11.pdf">Read More...</a></p>
</div>

<div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
  <img src="assets/images/a12.jpg" />
<h4 class="agileinfo-head">Turmeric - Ancient but Best for Your Skin!</h4>
<p>Hydrated, clear and a gorgeous skin can be achieved by having great, healthy and rich food. This can be <a href="assets/Docs/Article13.pdf">Read More...</a></p>
</div>
</div><br><br>
