Register
	<!--//banner -->
	<div class="w3ls-banner">
    <div class="heading">
      <h1>Register with Us</h1>
    </div>
      <div class="container_1">
        <div class="heading">
          <h2>Please Enter Your Details</h2>
          <p></p>
        </div>
        <div class="agile-form">
          <form action="/" method="post">
            <ul class="field-list">
              <li>
                <label class="form-label"> 
                  Full Name 
                  <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="text" name="patient_name" [(ngModel)]="userregister.patient_name" placeholder="Enter Patients Name" maxlength="100" autocomplete="off" required >
                </div>
              </li>
              <li>
                <label class="form-label">
                   Gender
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <select class="form-dropdown" name="gender" required>
                    <option value="">&nbsp;</option>
                    <option value="Male"> Male </option>
                    <option value="Female"> Female </option>
                    <option value="Transgender"> Transgender </option>
                  </select>
                </div>
              <li>
              <li> 
                <label class="form-label">
                   Mobile Number
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="int" [(ngModel)]="userregister.mobile_number" name="mobile_number" placeholder="Mobile Number" maxlength="10" autocomplete="off" required >
                </div>
              </li>
              <li> 
                <label class="form-label">
                   Age
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="int" [(ngModel)]="userregister.age" name="age" placeholder="Age in Years" maxlength="2" autocomplete="off" required >
                </div>
              </li>
              
              <li> 
                <label class="form-label">
                   E-Mail
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="email" name="email" [(ngModel)]="userregister.email" placeholder="myname@example.com" maxlength="100" autocomplete="off" required>
                </div>
              </li>
              <li> 
                <label class="form-label">
                  Username
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="text" name="username" [(ngModel)]="userregister.username" placeholder="Enter Username" maxlength="15" autocomplete="off" required>
                </div>
              </li>
              <li> 
                <label class="form-label">
                   Password
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" [(ngModel)]="userregister.password" placeholder="Enter Password" maxlength="20" autocomplete="off" required>
                </div>
              </li>
              <li> 
                <label class="form-label">
                  Re-Type Password
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="password" name="repassword" [(ngModel)]="userregister.repassword" placeholder="Re-Type Password" maxlength="20" autocomplete="off" required>
                </div>
              </li>
            </ul>
            <input type="submit" (click)="register()" value="Register">
          </form>	
        </div>
      </div>
  </div>
