<body>

  <div id= "mario-chat">

      <div id= "chat-window">

          <div id= "output"></div>

          <div id= "feedback"></div>

      </div>
      <div *ngFor="let message of messages">
        {{message.text}}
      </div>

      <input id= "handle" type= "text" placeholder= "Handle" />

      <input id= "message" type= "message" [(ngModel)]="message1"  placeholder= "Message"/>

      <button id= "send" (click)="sendMessage()"> Send </button>

  </div>

  <!-- <script src="/chat.js"></script> -->

</body>