Payment
	<!--//banner -->
	<div class="w3ls-banner">
    
    <div class="heading">
      <h1>Payment Information</h1>
    </div>

      <div class="container_1">
          <div class="heading">
              <h2>Payment Method</h2>
              <p></p>
            </div>
            <li>
                <label class="form-label">
                   Choose any one Payment Method
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <select class="form-dropdown" name="paymethod" required>
                    <option value="">&nbsp;</option>
                    <option value="Credit Card"> Credit Card </option>
                    <option value="Debit Card"> Debit Card </option>
                  </select>
                </div>
              <li>
              <hr>
        <div class="heading">
          <h2>Personal information</h2>
          <p></p>
        </div>
        <div class="agile-form">
          <form action="/" method="post">
            <ul class="field-list">
                <li> 
                    <label class="form-label">
                       E-Mail
                       <span class="form-required"> * </span>
                    </label>
                    <div class="form-input">
                      <input type="email" name="email" [(ngModel)]="payment.email" placeholder="myname@example.com" maxlength="100" autocomplete="off" required>
                    </div>
                  </li>
                  
              <li>
                <label class="form-label"> 
                  Full Name 
                  <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="text" name="patient_name" [(ngModel)]="payment.patient_name" placeholder="Enter Your Name" maxlength="100" autocomplete="off" required >
                </div>
              </li>
              <hr>
              <div class="heading">
              <h2>Card information</h2>
              <p></p>
          </div>
              <li>
                  <label class="form-label"> 
                    Name On Card 
                    <span class="form-required"> * </span>
                  </label>
                  <div class="form-input">
                    <input type="text" name="name_oncard" [(ngModel)]="payment.name_oncard"  maxlength="100" autocomplete="off" required >
                  </div>
                </li>
                
              <li> 
                <label class="form-label">
                   Card Number
                   <span class="form-required"> * </span>
                </label>
                <div class="form-input">
                  <input type="int" [(ngModel)]="payment.card_number" name="card_number" placeholder="0000-0000-0000-0000" maxlength="16" autocomplete="off" required >
                </div>
              </li>
              <li> 
                  <label class="form-label">
                     Expiration
                     <span class="form-required"> * </span>
                  </label>
                  <div class="form-input">
                  
                    <input type="int" [(ngModel)]="payment.expiration" name="expiration" placeholder="" maxlength="16" autocomplete="off" required >
                   </div>
          
                </li>
                     
                    <li> 
                        <label class="form-label">
                           CVV Number
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                          <input type="int" [(ngModel)]="payment.cvv" name="cvv" placeholder="0000" maxlength="16" autocomplete="off" required >
                        </div>
                      </li>
                    
               </ul>
            <input type="submit" (click)="payment()" value="Submit">
          </form>	
        </div>
      </div>
  </div>
