<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption"><h3><b>Search Your Need</b></h3>
             <section class="main1">
                <form class="search" method="post" action="index.html" >
        
                    <input type="text" name="q" placeholder="Search..." autocomplete="off"/>
                    <ul class="results" >
                      
                      <li><a routerLink="login">General Physician</a></li>
                      <li><a href="index.html">Cardiologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Dentist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Dermatologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Gynaecologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Neurologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Oncologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Opthalmologist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">ENT<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Psychiatrist<br /><!--<span>Description...</span>--></a></li>
                      <li><a href="index.html">Urologist<br /><!--<span>Description...</span>--></a></li>
                       <!--<li><a href="index.html">Search Result #4</a></li>-->
                      
                    </ul> 
                  </form>
               
               </section>
            </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
</div>
<!--//banner -->
<br><br>
    <div class="chat">
<p><a href="http://localhost:5300/chat">Chat with a Doctor </a></p> </div>
<!-- about -->
<div class="agile-about w3ls-section">
<!-- about-bottom -->
<div class="agileits-about-btm">
<h3 class="heading-agileinfo">Read top Articles from Health Experts<span></span></h3>
  <div class="container">
    <div class="w3-flex">
    <div class="col-md-4 col-sm-4 ab1 agileits-about-grid1">
        <img src="assets/images/a1.jpg" />
      <h4 class="agileinfo-head">Health Tips and uses of Coconut Oil </h4>
      <p>Here are some of the health benefits of Coconut Oil:
      Helps in weight loss. 
        Helps to fight infections. <a href="">Read More...</a></p>
     </div>
    <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
      <img src="assets/images/a2.jpg" />
      <h4 class="agileinfo-head">What is World <br> Water Day?</h4>
      <p>World Water Day, on 22 March every year, is about focusing attention on the importance of water and <a href="">Read More...</a></p>
      </div>
    <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
        <img src="assets/images/a3.jpg" />
      <h4 class="agileinfo-head">How Thyroid affects your Skin</h4>
      <p>Most of the patients are not aware that thyroid disorders can involve other organ systems of the body also and <a href="">Read More...</a></p>
      </div>
      <div class="clearfix"></div>
      
    </div>
    <br><br><span><h3 class="article"><a href="http://localhost:5300/article">Click here to Read More Articles...</a></h3></span>
  </div>
</div>
<!-- //about-bottom -->
</div>
<!-- emergency -->
<div class="emergency_cases_w3ls">
<div class="emergency_cases_bt">
<div class="container">
<div class="emergency_cases_top">
  <div class="col-md-6 emergency_cases_w3ls_left">
    <h4>Opening Hours</h4>
    <h6>Monday - Friday&nbsp;<span class="eme">8.00 - 18.00</span></h6>
    <h6>Monday - Saturday&nbsp;<span class="eme">9.00 - 17.00</span></h6>
    <h6>Monday - Sunday&nbsp;<span class="eme">9.00 - 15.00</span></h6>
  </div>
  <div class="col-md-6 emergency_cases_w3ls_right">
    <h4>Emergency Cases</h4>
    <h5><i class="fa fa-phone" aria-hidden="true"></i>1230456789</h5>
    <p>Your treatment plan is designed for steady progress, with every phase promptly implemented.</p>
  </div>
  
  <div class="clearfix"></div>
  </div>
</div>
</div>
</div>
<!-- //emergency -->
<!-- services -->
<!-- //services -->
<!-- Clients -->
<!-- //Clients -->
<!--/icons-->
<div class="banner-bottom">
  <div class="container">
    <div class="tittle_head_w3layouts">
      <h3 class="heading-agileinfo">Case Studies<span>We offer extensive medical procedures to outbound and inbound patients.</span></h3>
    </div>
    <div class="inner_sec_info_agileits_w3">
      <div class="col-md-4 grid_info">
        <div class="icon_info">
          <img src="images/g4.jpg" alt=" " class="img-responsive">
          <h5>Nutrition Reference</h5>
          <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
          <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="col-md-4 grid_info">
        <div class="icon_info">
          <img src="images/g7.jpg" alt=" " class="img-responsive">
          <h5>Injury Prevention</h5>
          <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
          <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="col-md-4 grid_info">
        <div class="icon_info">
          <img src="images/g6.jpg" alt=" " class="img-responsive">
          <h5>Catheterization Lab</h5>
          <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
          <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//icons-->
