<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h3>
            <b>Search Your Need</b>
          </h3>
          <section class="main1">
            <form class="search">

              <input type="text" name="q" placeholder="Search..." autocomplete="off" />
              <ul class="results">

                <li>
                  <a routerLink="/response">General Physician</a>
                </li>
                <li>
                  <a routerLink="/response">Cardiologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Dentist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Dermatologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Gynaecologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Neurologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Oncologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Opthalmologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">ENT
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Psychiatrist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <li>
                  <a routerLink="/response">Urologist
                    <br />
                    <!--<span>Description...</span>-->
                  </a>
                </li>
                <!--<li><a href="index.html">Search Result #4</a></li>-->

              </ul>
            </form>

          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
</div>
<!--//banner -->
<br>
<br>
<div class="chat">
  <p>
    <a href="http://localhost:5300/chat">Chat with a Doctor </a>
  </p>
</div>
<!-- about -->
<div class="agile-about w3ls-section">
  <!-- about-bottom -->
  <div class="agileits-about-btm">
    <h3 class="heading-agileinfo">Read top Articles from Health Experts
      <span></span>
    </h3>
    <div class="container">
      <div class="w3-flex">
        <div class="col-md-4 col-sm-4 ab1 agileits-about-grid1">
          <img src="assets/images/a1.jpg" />
          <h4 class="agileinfo-head">Health Tips and uses of Coconut Oil </h4>
          <p>Here are some of the health benefits of Coconut Oil: Helps in weight loss. Helps to fight infections.
            <a href="assets/Docs/Article1.pdf" target="_blank">Read More...</a>
          </p>
        </div>
        <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
          <img src="assets/images/a2.jpg" />
          <h4 class="agileinfo-head">What is
            <br> World Water
            <br> Day?</h4>
          <p>World Water Day, on 22 March every year, is about focusing attention on the importance of water and
            <a href="assets/Docs/Article2.pdf">Read More...</a>
          </p>
        </div>
        <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
          <img src="assets/images/a3.jpg" />
          <h4 class="agileinfo-head">How Thyroid affects your
            <br> Skin</h4>
          <p>Most of the patients are not aware that thyroid disorders can involve other organ systems of the body also and
            <a href="assets/Docs/Article3.pdf">Read More...</a>
          </p>
        </div>
        <div class="clearfix"></div>

      </div>
      <br>
      <br>
      <span>
        <h3 class="article">
          <a href="http://localhost:5300/article">Click here to Read More Articles...</a>
        </h3>
      </span>
    </div>
  </div>
  <!-- //about-bottom -->
</div>
<!-- emergency -->
<div class="emergency_cases_w3ls" *ngIf="!loginhome">
  <div class="emergency_cases_bt">
    <div class="container">
      <h2>Doctor's Area</h2>
      <div class="emergency_cases_top">
        <div class="col-md-6 emergency_cases_w3ls_left">
          <a href="http://localhost:5300/dlogin">
            <h1>Doctor's
              <br>Login</h1>
          </a>
          <h6>Login to your account to check if anyone needs medical help.</h6>
        </div>
        <div class="col-md-6 emergency_cases_w3ls_right">
          <a href="http://localhost:5300/dregistration">
            <h1>Doctor's Registration</h1>
          </a>
          <h6>Register yourself as a Doctor with us and provide your services to the masses.</h6>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- //emergency -->
<!-- services -->
<!-- //services -->
<!-- Clients -->
<!-- //Clients -->
<!--/icons-->
<div class="banner-bottom">
  <div class="container">
    <div class="tittle_head_w3layouts">
      <h3 class="heading-agileinfo">Case Studies
        <span>We offer extensive medical procedures to outbound and inbound patients.</span>
      </h3>
    </div>
    <div class="inner_sec_info_agileits_w3">
      <div class="col-md-4 grid_info">
        <div class="icon_info">

          <h5>Summer Hair Care</h5>
          <p>Summer, though really a great time to be outdoors, is also a time to </p>
          <a href="assets/Docs/CaseStudy1.pdf" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="col-md-4 grid_info">
        <div class="icon_info">

          <h5>Vitamin C harming You?</h5>
          <p>Vitamin C supplements get plenty of play for being a key to good health.</p>
          <a href="assets/Docs/CaseStudy2.pdf" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="col-md-4 grid_info">
        <div class="icon_info">

          <h5>Photographs of Life!</h5>
          <p>We all have a past and we all dream about a future. But its the </p>
          <a href="assets/Docs/CaseStudy3.pdf" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//icons-->