
<div class= "main2">
    <div class="left">
        <h3>Dr.Rajendra Sapkal</h3>

        <br>
        <p>BDS, Fellowship in Oral implantlogy, Diploma in Laser Dentistry, Fellowship and Diplomate in Implantology from ICOI (USA)
                26 years experience<br>
                Dentist</p>
    </div>
    <div class="right">
        <p>Location: Powai,Mumbai</p>
        <p>Consultation Fees: Rs.300/-</p>
        <p>Visits Today</p>
    </div>
    <p></p></div>
<div class="main2"><p>this</p></div>

